@model FixFactorSystem.Models.Maintenence

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="features" style="        font-family: “Droid Arabic Kufi”, serif;
        color: #7c795d;
        margin: 5px;
        direction: rtl;
        text-align: right;
">
        <div class="container">
            <div class="feat" style=" float: right; width:50%">

                <h1 style="        color: darkmagenta ;
        text-align: right; direction: rtl;
        margin: 10px;
        font-weight: bold">
                    تفاصيل
                </h1>

                <dl class="row" style=" direction:rtl; ">
                    <dt class="col-sm-2">
                        نوع الهاتف
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DamMobName)
                    </dd>
                    <dt class="col-sm-2">
                        وصف العطل
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DamageDescription)
                    </dd>

                    <dt class="col-sm-2">
                        اسم صاحب الهاتف
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PhoneOwner)
                    </dd>
                    <dt class="col-sm-2">
                        رقم هاتفه 
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>

                </dl>
            </div>
            <div class="feat" style=" float: right; width:50%">
                <dl>
                    <dt class="col-sm-2">

                    </dt>
                    <dd class="col-sm-10">
                        @if (Model.DamImg != null)
                        {


                            <img src="~/Mobimg/@Model.DamImg" style="width:300px; height:450px" />
                        }
                    </dd>
                </dl>
            </div>
        </div>
        <div class="ff" style=" margin-right:250px; margin-bottom:700px;">

            <a style="color:blueviolet" asp-action="Edit" asp-route-id="@Model.DamageId">تعديل</a> |
            <a style="color:blueviolet" asp-action="Index">عودة</a>
        </div>
    </div>


